* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero {
  background: url(bg.jpg);
  background-size: cover;
  padding: 15rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  letter-spacing: 0.7rem;
  margin-bottom: 0.5rem;
  color: #555555;
  text-transform: uppercase;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero h3 {
  font-weight: 300;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 4px 4px 2px #000;
}

.services {
  padding: 3rem 2rem 9rem;
}

.card-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.card {
  background: #fff;
  width: 25%;
  padding: 4rem 2rem;
  margin-right: 1.5rem;
  text-align: center;
  transition: all 0.6s;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.card-title {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.card-desc {
  font-weight: 300;
  line-height: 1.6;
}

.card:last-child {
  margin-right: 0;
}

.history {
  padding: 3rem 2rem 5rem;
  background: #000;
  color: #fff;
}

.text-con {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.text-con p:first-child {
  margin-right: 2rem;
}

.text-con p:first-child::first-letter {
  font-size: 3.5rem;
  font-weight: 500;
}

.history hr {
  margin-top: 3rem;
}

.history .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.history .social-icons i {
  margin-right: 1rem;
  color: #fff;
}

.history .social-icons i:last-child {
  margin-right: 0;
}


@media (max-width: 560px) {

  .hero h1 {
    font-size: 3.5rem;
  }

  .services {
    padding: 1rem .5rem;
  }

  .card {
    width: 80%;
    margin: 0 0 2rem;
  }

  .text-con {
    flex-direction: column;
  }

  .text-con p {
    margin-bottom: 2rem;
  }

  .text-con p:first-child {
    margin-right: 0;
  }

}

@media (max-width: 790px) {

  .card {
    width: 80%;
    margin: 0 0 2rem;
  }
  
}
